extends master.pug
block content
    h1 Hello
        span Pug
            button.btn.btn-primary(onclick='this.previousSibling.textContent += "!"')
                i.fa.fa-plus-circle
    div.menu.d-flex.justify-content-around
        a(href="#") Item 1
        a(href="#") Item 2
        a(href="#") Item 3
        a(href="#") Item 4
